<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, minimum-scale=0.1">
        <style type="text/css" media="screen">
            @import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap");

            html {
                background: #30688e;

                /*Centering*/
                margin: 0;
                padding: 0;
                outline: 0;
                height: 100%;
            }

            body {
                /*Centering*/
                margin: 0;
                padding: 0;
                outline: 0;
                height: 100%;
            }

            .text-container {
                /*Centering*/
                height: 100%;
                width: 100%;
            }

            .text-container .text {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                width: 100%;
            }

            .text span {
                display: block;
                text-align: center;
            }

            span#message-text {
                color: #ffffff;
                font-size: 5vh;
                font-weight: 700;
                font-family: "Open Sans", sans-serif;
            }

            span#information {
                color: #dddddd;
                font-size: 2.5vh;
                font-family: "Roboto", sans-serif;
            }
        </style>
    </head>
    <body>
        <div class="text-container">
            <div class="text">
                <span id="message-text"><%= message %></span>
                <br />
                <span id="information"><%= details %></span>
            </div>
        </div>
    </body>
</html>
