<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, minimum-scale=0.1">
        <style type="text/css" media="screen">
            * {
                margin: 0;
                padding: 0;
            }

            html {
                background: #070707;
            }

            div.video-container {
                width: 100vw;
                height: 100vh;
                overflow: hidden;
            }

            video {
                min-width: 100%;
                min-height: 100%;
            }
        </style>
    </head>
    <body>
        <div class="video-container">
            <video playsinline autoplay muted loop>
                <source src="<%= source %>" type="<%= mimeType %>" />
                <p>Your browser does not support the video tag. Please consider updating it.</p>
            </video>
        </div>
        <script>
            window.addEventListener("message", (event) => {
                const message = event.data;
                const messageData = message.data || {};
                const video = document.querySelector("video");

                switch(message.object) {
                    case "toggle_mute": {
                        video.muted = messageData.muted;
                        break;
                    }
                    case "set_volume": {
                        video.volume = messageData.volume;
                        break;
                    }
                    case "play": {
                        video.play();
                        break;
                    }
                    case "pause": {
                        video.pause();
                        break;
                    }
                    case "rewind": {
                        video.currentTime -= messageData.duration;
                        break;
                    }
                    case "forward": {
                        video.currentTime += messageData.duration;
                        break;
                    }
                    default: break;
                }
            });
        </script>
    </body>
</html>
